#lista li {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  margin: 10px 0;
  list-style: none;
}

#lista li.aparecer {
  opacity: 1;
  transform: translateY(0);
}
